/* universal -------------------------------------------- */

/* elements ----------------------------------------------*/
section {
  margin-left: 220px;
}

li {
  list-style-type: none;
}

/* classes ----------------------------------------------- */
.result {
  border-bottom: 1px dashed black;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.aside {
  width: 10%;
  padding-left: 5px;
  margin-left: 5px;
  background-color: lightsteelblue;
  height: 100%;
  position: absolute;
  float: left;
  justify-content: center;
}

.list-container {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 90px;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 13px;
}
/* ID's -------------------------------------------------- */
#search-container {
  background-color: rgb(253, 252, 252);
  height: 500px;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-left: 450px;
  margin-top: 100px;
  overflow: scroll;
  border: 1px solid black;
}

#quote-box {
<<<<<<< HEAD
 position: fixed;
 bottom: 0;
 right: 0;
 display: flex;
 justify-content: flex-end;
 font-size: 20px;
 margin-bottom: 3px;
 background-color: rgb(241, 234, 234);
 width: 100%;
=======
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
>>>>>>> a680bdc0f599aef13f4adb602686d5bd4907b475
}

#nameBtn {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100px;
  align-items: center;
}

#list-container {
  height: 200px;
  width: 150px;
  margin-left: -21px;
}

#favNames {
  color: orangered;
  margin-left: 30px;
}
