/* universal -------------------------------------------- */
* {
  font-family: "Source Code Pro", monospace;
}

/* elements ----------------------------------------------*/

html {
  background: url(https://image.freepik.com/free-vector/seamless-pattern-with-heads-different-breeds-dogs-corgi-pug-chihuahua-terrier-husky-pomeranian_192280-204.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

p {
  margin: auto;
}
li {
  list-style-type: none;
}

main div:hover {
  border: 2px solid black;
  opacity: 0.9;
}

#page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 190px;
}

/* classes ----------------------------------------------- */

.result {
  border: 1px solid black;
}

.wrapper {
  display: block;
  margin: 100px auto 0 auto;
  max-width: 600px;
  align-items: center;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.aside {
  width: 9%;
  padding-left: 5px;
  margin-left: 5px;
  background-color: lightsteelblue;
  height: 100%;
  position: absolute;
  justify-content: center;
}

.list-container {
  background-color: white;
  border: 1px solid black;
  height: 20px;
  width: 90px;
  margin-top: 5px;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 13px;
}
.btn-info {
  display: block;
}

.sideNav-pg2 {
  height: 100%;
  width: 190px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: lightsteelblue;
  overflow-x: hidden;
  margin-top: 55px;
  text-align: center;
}

.result {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}



#paw-box {
  display: flex;
  justify-content: space-between;
  
}

.paw {
  animation: fadeIn 4s;
  height: 30px;
  width: 30px;
  margin-right: 150px;
  
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ID's -------------------------------------------------- */

#search-container {
  background-color: rgb(253, 252, 252);
  height: 1000px;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  border: 1px solid black;
}

#aside-container {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

#questions {
  text-align: center;
  align-items: center;
}

#quote-box {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  padding-bottom: 3px;
  padding-right: 20px;
  background-color: rgb(247, 247, 247);
  width: 100%;
}

#nameBtn {
  margin-top: 20px;
  width: 100px;
  align-items: center;
}

#list-container {
  height: 200px;
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}

#fav-names {
  color: red;
  font-size: 20px;
  padding: 0px;
}

#fav-names-container {
  text-align: center;
  color: black;
  font-size: 20px;
}

#done-screen {
  text-align: center;
}

#fav-names-list {
  padding: 0px;
}
#page-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 190px;
  display: none;
}

#quiz-container {
  margin: auto;
  background-color: #023047;
  color: #8ECAE6;
  width: 50%;
  height: 200px;
  border-radius: 15px;
}

#startBtn {
  position: relative;
  top: 30px;
}

#title {
  font-family: "Kiwi Maru", serif;
}

#quote {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}
